<div class="container mt-3">
  <h3 class="text-success text-center font-weight-bold title-project pt-5">پروژه های ما</h3>
<div class="row">
<div class="col-md-4 col-sm-4 col-lg-4 animated bounceInRight delay-05s mr-auto">
  <div class="tile">
    <div class="front success-color">
      <div class="contents">
        <!-- Card -->
        <div class="card">
          <div class="card-header white">
          <img src="./assets/images/project/device2.jpg" class="img-responsive card-img-top" alt="">
          </div>
          <!-- Content -->
          <div class="card-body mb-5">

              <div class="font-weight-bold text-white text-center">دستگاه تنظیم امواج مغزی</div>

                <p class="text-center pt-3">Beta-1 VIP</p>

          </div>

        </div>
        <div class="text-white text-center font-weight-bold mt-4" style="font-size: 17px">مزایا و قابلیت ها</div>
      </div>
    </div>
    <div class="back1 info-color">
<!--      <h3>اطلاع رسانی</h3>-->
      <a> <i class="fa fa-check pr-2"></i>تأثیرگذاری تایید شده توسط مراجع مختلف علمی و پژوهشی</a>
      <a><i class="fa fa-check pr-2"></i>تأثیرگذاری بسیار بالاتر نسبت به دستگاههای مشابه   </a>
      <a><i class="fa fa-check pr-2"></i>قیمت اقتصادی و مقرون به صرفه </a>
      <a> <i class="fa fa-check pr-2"></i>حجم و اندازه کم و طراحی زیبا </a>
      <a><i class="fa fa-check pr-2"></i>بهره گیری از تکنولوژی به روز و منحصر بفرد  </a>
      <a class="text-center" data-toggle="modal" data-target="#modal_address">جزئیات بیشتر</a>
    </div>

  </div>

</div>
  <div class="col-md-4 col-sm-4 col-lg-4 animated bounceInRight delay-05s mr-auto">
    <div class="tile">
      <div class="front success-color">
        <div class="contents">
          <!-- Card -->
          <div class="card ">
            <div class="card-header white">
              <img src="./assets/images/project/device3.jpg" class="img-responsive" alt="">
            </div>
            <!-- Content -->
            <div class="card-body mb-5">

              <div class="font-weight-bold text-white text-center">دستگاه تنظیم امواج مغزی</div>

              <p class="text-center pt-3">Beta-1 VIP</p>

            </div>

          </div>
          <div class="text-white  text-center font-weight-bold mt-4" style="font-size: 17px">مزایا و قابلیت ها</div>
        </div>
      </div>
      <div class="back1 info-color">
        <!--<h3>اطلاع رسانی</h3>-->
        <a> <i class="fa fa-check pr-2"></i>تأثیرگذاری تایید شده توسط مراجع مختلف علمی و پژوهشی</a>
        <a><i class="fa fa-check pr-2"></i>تأثیرگذاری بسیار بالاتر نسبت به دستگاههای مشابه   </a>
        <a><i class="fa fa-check pr-2"></i>قیمت اقتصادی و مقرون به صرفه </a>
        <a> <i class="fa fa-check pr-2"></i>حجم و اندازه کم و طراحی زیبا </a>
        <a><i class="fa fa-check pr-2"></i>بهره گیری از تکنولوژی به روز و منحصر بفرد  </a>
        <a class="text-center" data-toggle="modal" data-target="#modal_address">جزئیات بیشتر</a>

      </div>

    </div>

  </div>
  <div class="col-md-4 col-sm-4 col-lg-4 animated bounceInRight delay-05s">
    <div class="tile">
      <div class="front success-color">
        <div class="contents">
          <!-- Card -->
          <div class="card">
            <div class="card-header white">
              <img src="./assets/images/project/device1.jpg" class="img-responsive" alt="">
            </div>
            <!-- Content -->
            <div class="card-body mb-5">

              <div class="font-weight-bold text-white text-center">دستگاه تنظیم امواج مغزی</div>

              <p class="text-center pt-3">Beta-1 VIP</p>

            </div>

          </div>
          <div class="text-white text-center font-weight-bold mt-4" style="font-size: 17px">مزایا و قابلیت ها</div>
        </div>
      </div>
      <div class="back1 info-color">
        <!--<h3>اطلاع رسانی</h3>-->
        <a> <i class="fa fa-check pr-2"></i>تأثیرگذاری تایید شده توسط مراجع مختلف علمی و پژوهشی</a>
        <a><i class="fa fa-check pr-2"></i>تأثیرگذاری بسیار بالاتر نسبت به دستگاههای مشابه   </a>
        <a><i class="fa fa-check pr-2"></i>قیمت اقتصادی و مقرون به صرفه </a>
        <a> <i class="fa fa-check pr-2"></i>حجم و اندازه کم و طراحی زیبا </a>
        <a><i class="fa fa-check pr-2"></i>بهره گیری از تکنولوژی به روز و منحصر بفرد  </a>
        <a class="text-center" data-toggle="modal" data-target="#modal_address">جزئیات بیشتر</a>

      </div>

    </div>

  </div>
</div>
</div>
<!--sele-->
<!--<section id="service" class="service angle ras-card">-->
<!--  <div class="container">-->
<!--    <h3 class="text-center text-success mt-3">پروژه های ما</h3>-->
<!--    <div class="row">-->

<!--      <div class="col-md-4">-->
<!--        <div class="animated bounceInLeft  delay-05s">-->
<!--          <div class="service-content text-center">-->
<!--            &lt;!&ndash;<span class="service-icon icon-pentagon"><i class="fa fa-tachometer"></i></span>&ndash;&gt;-->
<!--            &lt;!&ndash;<h3>خدمات مالیاتی</h3>&ndash;&gt;-->
<!--            <div class="media block-6 d-block text-center">-->

<!--              <div class="icon d-flex justify-content-center align-items-center" data-toggle="modal" data-target="#modal_address">-->
<!--                &lt;!&ndash;<span class="flaticon-reading "></span>&ndash;&gt;-->
<!--                <br>-->
<!--                <img class="rounded-circle" src="./assets/images/project/maqz.jpg" height="180" width="180">                            </div>-->
<!--              <div class="media-body p-2 mt-3">-->
<!--                <h4 class="heading font-weight-bold">دستگاه تنظیم امواج مغزی</h4>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>&lt;!&ndash;/ End first service &ndash;&gt;-->

<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <div class="animated bounceInLeft  delay-05s">-->
<!--          <div class="service-content text-center">-->
<!--            &lt;!&ndash;<span class="service-icon icon-pentagon"><i class="fa fa-tachometer"></i></span>&ndash;&gt;-->
<!--            &lt;!&ndash;<h3>خدمات مالیاتی</h3>&ndash;&gt;-->
<!--            <div class="media block-6 d-block text-center">-->

<!--              <div class="icon d-flex justify-content-center align-items-center" data-toggle="modal" data-target="#modal_address">-->
<!--                &lt;!&ndash;<span class="flaticon-reading "></span>&ndash;&gt;-->
<!--                <br>-->
<!--                <img class="rounded-circle" src="./assets/images/project/maqz1.jpg" height="180" width="180">                            </div>-->
<!--              <div class="media-body p-2 mt-3">-->
<!--                <h4 class="heading">دستگاه تنظیم امواج مغزی</h4>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>&lt;!&ndash;/ End first service &ndash;&gt;-->

<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--      <div class="animated bounceInLeft  delay-05s">-->
<!--        <div class="service-content text-center">-->
<!--          &lt;!&ndash;<span class="service-icon icon-pentagon"><i class="fa fa-tachometer"></i></span>&ndash;&gt;-->
<!--          &lt;!&ndash;<h3>خدمات مالیاتی</h3>&ndash;&gt;-->
<!--          <div class="media block-6 d-block text-center">-->

<!--            <div class="icon d-flex justify-content-center align-items-center" data-toggle="modal" data-target="#modal_address">-->
<!--              &lt;!&ndash;<span class="flaticon-reading "></span>&ndash;&gt;-->
<!--              <br>-->
<!--              <img class="rounded-circle" src="./assets/images/project/maqz2.jpg" height="180" width="180">                            </div>-->
<!--            <div class="media-body p-2 mt-3">-->
<!--              <h4 class="heading">دستگاه تنظیم امواج مغزی</h4>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>&lt;!&ndash;/ End first service &ndash;&gt;-->

<!--    </div>-->

<!--    </div>&lt;!&ndash; Content row end &ndash;&gt;-->
<!--  </div>&lt;!&ndash;/ Container end &ndash;&gt;-->
<!--</section>&lt;!&ndash;/ Service box end &ndash;&gt;-->




<div class="modal fad rtl" id="modal_address">
  <div class="modal-dialog modal-dialog-centered modal-notify modal-lg modal-dialog-scrollable modal-info" role="document">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header white-text">
        <h5 class="modal-title text-white">دستگاه تنظیم امواج مغزی</h5>
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text fa-1x">&times;</span>
        </button>


      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div>
          دستگاه تنظیم امواج مغزی
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer text-left">
        <button class="btn btn-rounded btn-outline-info text-left" style="margin-top: -8px;margin-bottom: -8px" data-dismiss="modal">بستن</button>
      </div>

    </div>
  </div>
</div>
