<section id="service" class="service angle pt-3">
  <h3 class=" text-center text-success ">راهکارهای ما</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-xs-2">
        <div class="animated bounceInLeft  delay-05s">
          <div class="service-content text-center">
            <div class="media block-6 d-block text-center">
              <div class="icon justify-content-center align-items-center">

                <br>
                <img src="./assets/images/methodyou/study.png" height="70" width="100">

                <h5 class="heading">مطالعه</h5>
              </div>
              <div class="media-body">
              </div>
            </div>
          </div>
        </div>
        <!--/ End first service -->
      </div>
      <div class="col-md-2">
        <div class="service-content text-center">
          <!--<span class="service-icon icon-pentagon"><i class="fa fa-tachometer"></i></span>-->
          <!--<h3>خدمات مالیاتی</h3>-->
          <div class="media block-6 d-block text-center">

            <div class="icon icon1 justify-content-center align-items-center">
              <!--<span class="flaticon-reading "></span>-->
              <br>
              <img src="./assets/images/methodyou/enrgy.png" height="70" width="100">
              <h5 class="heading">انرژی</h5>
            </div>
            <div class="media-body p-2 mt-3">
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-2">
          <div class="service-content text-center">
            <!--<span class="service-icon icon-pentagon"><i class="fa fa-tachometer"></i></span>-->
            <!--<h3>خدمات مالیاتی</h3>-->
            <div class="media block-6 d-block text-center">

              <div class="icon icon1 justify-content-center  align-items-center" [routerLink]="['shekait']">
                <!--<span class="flaticon-reading "></span>-->
                <br>
                <img src="./assets/images/methodyou/relax.png" height="70" width="100">
                <h5 class="heading">آرامش</h5>
              </div>
              <div class="media-body p-2 mt-3">
              </div>
            </div>
          </div>
        </div>

     <div class="col-md-2">
       <div class="service-content text-center">
         <!--<span class="service-icon icon-pentagon"><i class="fa fa-tachometer"></i></span>-->
         <!--<h3>خدمات مالیاتی</h3>-->
         <div class="media block-6 d-block text-center ">
           <div class="icon icon1 justify-content-center align-items-center" [routerLink]="['mosharekat']">

             <!-- Modal -->
             <br>

             <img src="./assets/images/methodyou/khalaghiat.png" height="70" width="100">
             <h5 class="heading">خلاقیت</h5>
           </div>
           <div class="media-body p-2 mt-3">

           </div>
         </div>
       </div>
     </div>
      <div class="col-md-2">
        <div class="service-content text-center">
          <!--<span class="service-icon icon-pentagon"><i class="fa fa-tachometer"></i></span>-->
          <!--<h3>خدمات مالیاتی</h3>-->
          <div class="media block-6 d-block text-center ">
            <div class="icon icon1 justify-content-center align-items-center" [routerLink]="['mosharekat']">

              <!-- Modal -->
              <br>

              <img src="./assets/images/methodyou/tamarkoz.png" height="70" width="100">
              <h5 class="heading">تمرکز</h5>
            </div>
            <div class="media-body p-2 mt-3">

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-content text-center">
          <!--<span class="service-icon icon-pentagon"><i class="fa fa-tachometer"></i></span>-->
          <!--<h3>خدمات مالیاتی</h3>-->
          <div class="media block-6 d-block text-center ">
            <div class="icon icon1 justify-content-center align-items-center" [routerLink]="['mosharekat']">

              <!-- Modal -->
              <br>

              <img src="./assets/images/methodyou/cb-98-256.png" height="70" width="100">
              <h5 class="heading">حافظه</h5>
            </div>
            <div class="media-body p-2 mt-3">

            </div>
          </div>
        </div>
      </div>
    </div><!-- Content row end -->
  </div>
  <!--/ Container end -->
</section>
<!--/ Service box end -->






