mat-form-field{
  font-family: IRANSansWeb_Bold;
  font-size: 15px;
}
::placeholder{
  color:#777777;
  font-size: 14px;
}
h3{
  font-family: IRANSansWeb_Bold;
  font-size: 18px;
}
mat-checkbox{
  font-family: IRANSansWeb_Bold;
  font-size: 15px;
}
.btn-outline-primary:hover{
  background-color: #4285F4!important;
  color:white!important;
}
.fa-facebook-square{
  color:white!important;
}
.btn-outline-info{
  background-color:#0d47a1!important;
  color: white!important;

}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-footer{
  font-family: yekan;
  font-size: 16px;
}
.TAM-container{
  margin-right: 2px;
    margin-left: 2px;
  }
.btn-social{
  border-radius: 20px;
}
.card{
  border-radius: 10px;

}
.card-header{
  border-radius: 15px;

}
.text-arka{
  font-size: 14px!important;
}
