

<div class="section" id="customers">
  <div class="container">
    <div class="section-title product-section section">
      <div class="section-title-one " data-title="ویدئوها"> <h1 class="text-success"> مشاهده همه </h1></div>
    </div>

    <div class="img-gallery owl-carousel owl-theme">
      <img  src="./assets/images/mainbody/enerji.jpg" alt="image">
      <img src="./assets/images/product/1.jpeg" alt="image">
      <img src="./assets/images/product/1.jpeg" alt="image">
      <img src="./assets/images/product/1.jpeg" alt="image">
    </div>

  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-lg-4 mb-3">
      <mat-video class="font-weight-bold rtl  h-100" title="آموزش کاربری بتاوان" [autoplay]="false" [preload]="true" [fullscreen]="true" [download]="false" color="accent" spinner="spin">
        <source matVideoSource src="./assets/images/Video/Video.mp4" type="video/mp4">
      </mat-video>
    </div>
    <div class="col-md-4 col-sm-12 col-lg-4 mb-3">
      <mat-video class="font-weight-bold rtl" title="آموزش کاربری بتاوان" [autoplay]="false" [preload]="true" [fullscreen]="true" [download]="false" color="accent" spinner="spin">
        <source matVideoSource src="./assets/images/Video/Video.mp4" type="video/mp4">
      </mat-video>
    </div>
    <div class="col-md-4 col-sm-12 col-lg-4 mb-3">
      <mat-video class="font-weight-bold rtl" title="آموزش کاربری بتاوان" [autoplay]="false" [preload]="true" [fullscreen]="true" [download]="false" color="accent" spinner="spin">
        <source matVideoSource src="./assets/images/Video/Video.mp4" type="video/mp4">
      </mat-video>
    </div>

  </div>
</div>


