<div class="container mt-3">
  <h3 class="text-center text-success font-weight-bold title-moreLearn">بیشتر بدانیم</h3>
  <div class="row mb-5">
    <div class="col-md-6 col-sm-12 col-lg-3 mb-2">
      <div class="card h-100 testimonial-card">

        <!-- Background color -->
        <div class="card-up"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white view overlay">
          <img src="./assets/images/morelearn1.jpg" class="rounded-circle" alt="woman avatar">
          <div class="mask flex-center rgba-blue-light">

          </div>
        </div>

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">نرون های مغزی چگونه کار می کنند؟</h4>
          <hr>
          <!-- Quotation -->
          <p><i class="fa fa-quote-left"></i> به سلول های سیستم عصبی نرون یا سلول عصبی گفته می شود.</p>
        </div>

      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-lg-3 mb-2">
      <div class="card h-100 testimonial-card">

        <!-- Background color -->
        <div class="card-up"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white view overlay">
          <img src="./assets/images/morelearn1.jpg" class="rounded-circle" alt="woman avatar">
          <div class="mask flex-center rgba-blue-light">

          </div>
        </div>

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">چگونه مغز به تحریک مغناطیسی جواب می دهد؟</h4>
          <hr>
          <!-- Quotation -->
          <p><i class="fa fa-quote-left"></i> تحریک مغناطیسی در ابتدا بر جدار سلول عصبی اثر می گذارد.</p>
        </div>

      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-lg-3 mb-2">
      <div class="card h-100 testimonial-card">

        <!-- Background color -->
        <div class="card-up"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white view overlay">
          <img src="./assets/images/morelearn1.jpg" class="rounded-circle" alt="woman avatar">
          <div class="mask flex-center rgba-blue-light">

          </div>
        </div>

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">آیا تحریک مغناطیسی مغز اثرات جانبی هم دارد؟</h4>
          <hr>
          <!-- Quotation -->
          <p><i class="fa fa-quote-left"></i>در منابع علمی این روش فاقد اثرات زیان بخش و خطرناک است معرفی شده است.</p>
        </div>

      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-lg-3 mb-2">
      <div class="card h-100 testimonial-card">

        <!-- Background color -->
        <div class="card-up"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white view overlay">
          <img src="./assets/images/morelearn1.jpg" class="rounded-circle" alt="woman avatar">
          <div class="mask flex-center rgba-blue-light">

          </div>
        </div>

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">تحریک مغز در چه حوزه هایی کاربرد دارد؟</h4>
          <hr>
          <!-- Quotation -->
          <p><i class="fa fa-quote-left"></i> در منابع مختلف به حوزه های متنوعی در کاربرد این روش اشاره شده است</p>
        </div>

      </div>
    </div>

  </div>
</div>


