.form-control,.browser-default{
  font-family:VaziBold ;
  font-size: 17px;
}
mat-checkbox{
  font-family:VaziBold ;
  font-size: 17px;
  line-height: 2px;
}
.card-title{
  border-radius: 20px;
  font-family:VaziBold ;
  font-size: 17px;
}
.card-header{
  border-radius: 20px;
}
.card{
  border-radius: 20px;
}
.btn-success{
  line-height: 1.5;
}
