<div class="line">.</div>
<div class="row mainbody d-flex info-color-dark text-white z-depth-2">
  <div class="p-1  box col-md-4 text-center border border-white animated zoomIn delay-05s">
      <i class="fa fa-braille fa-5x mb-3 pt-3"></i>
    <div class="title">
      <h4 class="text-center text-white font-weight-bold mt-2">دستگاه تنظیم کننده امواج مغز</h4>
    </div>
    <div class="text-body text-white p-3 justify-content-center">
      امروزه تحریک نورونهای مغزی با استفاده از میدان القای الکترومغناطیسی با شدت کم‌ و یا زیاد، یک جریان الکتریکی ضعیف را به مغز القا می‌نماید. پالسهایی که مغز دریافت میکند تحت عنوان تحریک مغناطیسی مغز (TMS) نامیده میشود...    </div>
    <div class="font-weight-bold mt-4 btn-edamehMatlab">ادامه مطلب</div>
  </div>
  <div class="p-1 box col-md-4 text-center border border-white animated zoomIn delay-05s">
    <i class="fa fa-user fa-5x mb-3 pt-3"></i>
    <div class="title mb-3 ">
      <h4 class="text-center text-white font-weight-bold mt-2">دستگاه تنظیم کننده امواج مغز</h4>
    </div>
    <div class="text-body text-white p-3 justify-content-center">
      امروزه تحریک نورونهای مغزی با استفاده از میدان القای الکترومغناطیسی با شدت کم‌ و یا زیاد، یک جریان الکتریکی ضعیف را به مغز القا می‌نماید. پالسهایی که مغز دریافت میکند تحت عنوان تحریک مغناطیسی مغز (TMS) نامیده میشود...    </div>
    <div class="font-weight-bold mt-4 btn-edamehMatlab">ادامه مطلب</div>
  </div>
  <div class="p-1 box col-md-4 text-center border border-white animated zoomIn delay-05s">
    <i class="fa fa-video fa-5x mb-3 pt-3"></i>
    <div class="title mb-3 ">
      <h4 class="text-center text-white font-weight-bold mt-2">دستگاه تنظیم کننده امواج مغز</h4>
    </div>
    <div class="text-body text-white p-3 justify-content-center">
      امروزه تحریک نورونهای مغزی با استفاده از میدان القای الکترومغناطیسی با شدت کم‌ و یا زیاد، یک جریان الکتریکی ضعیف را به مغز القا می‌نماید. پالسهایی که مغز دریافت میکند تحت عنوان تحریک مغناطیسی مغز (TMS) نامیده میشود...    </div>
    <div class="font-weight-bold mt-4 btn-edamehMatlab">ادامه مطلب</div>
  </div>

</div>
