
.font-weight-bold{
  font-family: IRANSansWeb_Bold;
}

.text-body{
  font-family: IRANSansWeb!important;
  color: white!important;
  text-align: justify;
  text-justify: inter-word;
}

.box:hover{
  background-color: #00c851;
}
.row.mainbody {
   margin-right: 0!important;
   margin-left: 0!important;
  //margin-top: -50px!important;
}
.line{
  background-color: #00C851 !important;
  line-height: 1;
  //height: 20%;
  color: #00C851 !important;
  //width: 100%;
}
