.card-header{
    font-family:vazir;
    border-radius: 20px;
}
.card-title{
  font-family:vazir;
}
.form-control{
  font-family:vazir;
  font-size: 16px;

}
.card{
  border-radius: 20px;
}
.btn-info{
  line-height: 1.5;
  border-color: #33b5e5;
}
table {
  width: 100%;
}
