<!-- Footer -->
<footer class="page-footer font-small primary-color-dark text-white">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-5 col-lg-5 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold"> درباره ما</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="text-white" style="font-family: IRANSansWeb;font-size: 12px">نوآوری و نشاط اولین جلوه‌ای است که از تام به چشم می‌خورد. پویایی و تلاش برای نیل به اهداف در طول حیات شرکت باعث گسترش توانایی‌ها شده و استفاده از ابزار مناسب، زیرساخت‌های محکمی در شرکت بنیان نهاده است.
          محیط کار صمیمی در کنار راه‌کارهای نوین تصمیم‌سازی مشارکتی، رشد و هم‌افزایی قابل توجهی در تام ایجاد کرده و نهایتا با تکیه بر پتانسیل‌های ایجاد شده ضمن توسعه سیستم‌های نرم‌افزاری به آرمان خود مبنی بر افزایش رضایت مشتری، تداوم نوآوری و گسترش سهم خود در بازار، جامه عمل پوشانیده است.
          الگوی مدیریت به‌روز، جذب و گردش سریع اطلاعات در کنار امکانات تحلیل هوشمند داده‌ها، تام را به شرکتی پویا بدل نموده است. استفاده از این زیرساخت‌ها امکان شناخت فرصت‌ها و کشف نیازهای آتی سازمان‌ها را میسر کرده است.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">لینک های مرتبط</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">تام</a>
        </p>
        <p>
          <a href="#!">خدمات</a>
        </p>
        <p>
          <a href="#!">اخبار</a>
        </p>
        <p>
          <a href="#!"> دعوت به همکاری</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">لینک های مرتبط</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!"> محصولات</a>
        </p>
        <p>
          <a href="#!"> نمایندگی فروش </a>
        </p>
        <p>
          <a href="#!"> مقالات</a>
        </p>
        <p>
          <a href="#!">تماس با ما</a>
        </p>
        <img src="./assets/images/logo11.png">
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-white">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">آدرس</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="text-white">
          <i class="fa fa-home fa-2x text-white mr-3"></i>آدرس: کرج، میدان آزادگان، جنب برج میلاد، ساختمان 110 ، واحد5</p>
        <p class="text-white">
          <i class="fa text-white fa-envelope fa-2x mr-3"></i> پست الکترونیک :  info@mytam.ir</p>
        <p class="text-white">
          <i class="fa fa-phone fa-2x mr-3"></i> شماره تماس : 32519493 - 26 (98+)</p>

        <img src="./assets/images/logo111.png">
        <br>
        <!-- Facebook -->
        <a class="fb-ic">
          <i class="fab fa-facebook-f fa-2x white-text mr-4"> </i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic">
          <i class="fab fa-twitter fa-2x white-text mr-4"> </i>
        </a>
        <!-- Google +-->
        <a class="gplus-ic">
          <i class="fab fa-google-plus-g fa-2x white-text mr-4"> </i>
        </a>
        <!--Linkedin -->
        <a class="li-ic">
          <i class="fab fa-linkedin-in fa-2x white-text mr-4"> </i>
        </a>
        <!--Instagram-->
        <a class="ins-ic">
          <i class="fab fa-instagram  fa-2x white-text"> </i>
        </a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center">
    <p class=" text-white text-center">کلیه حقوق این وب سایت متعلق به تام می باشد.</p>
  </div>
  <div class="footer-copyright text-arka text-white text-center"> طراحی و پیاده سازی توسط شرکت دانش بنیان محاسبات نرم فناوری اطلاعات و ارتباطات آرکا</div>

  <!-- Copyright -->

</footer>
<!-- Footer -->
