.text-uppercase, a{
  font-family: IRANSansWeb_Bold!important;
  font-size: 13px!important;
}
i .fa{
  font-family: IRANSansWeb_Bold;
  font-size: 15px!important;
}
.footer-copyright{
  font-size: 15px;
}
.text-arka{
  font-size: 12px!important;
}
*{
  text-align: justify;
  text-justify: inter-word;
}
