.form-control{
  font-family:vazir;
  font-size: 16px;

}
.card-title{
  border-radius: 20px;
  font-family:VaziBold ;
  font-size: 17px;
}
.card-header{
  border-radius: 20px;
}
.card{
  border-radius: 20px;
}
.btn-success{
  line-height: 1.5;
}
