.card.features:before {

  background: linear-gradient(to bottom, rgba(22, 42, 255, 0.65) 0%, #0451ffad 100%)!important;

}
.card.features{
  border-top-right-radius: 20px;
}
.card-title{
  font-family: IRANSansWeb_Bold!important;
}
.card-text{
  font-family: IRANSansWeb!important;
  font-size: 14px!important;
}
.col-md-4.img-whyus{
  background-image: url("../../../assets/images/methodyou/cheraus.jpeg");
  background-position: left;
  background-repeat: no-repeat;
}
@media (max-width: 768px)  {
  .card-img{
    height: 50%;
    width: 25%;
    display: none;
    //margin-bottom: -20%;
  }
}
