

<div class="section light-bg" id="services">


  <div class="container">
    <div class="section-title">
      <h3 class="font-weight-bold text-success">چرا ما</h3>
    </div>
      <div class="row rtl">
      <div class="col-md-12 col-sm-12 col-lg-8">
          <div class="col-md-12  col-sm-12 col-lg-6 mb-3">
            <div class="card mb-3 z-depth-3">
              <div class="row no-gutters">
                <div class="col-md-3">
                  <img src="./assets/images/whyUs/Untitled-1.png" class="card-img"  alt="...">
                </div>
                <div class="col-md-9 col-lg-9 col-sm-12">
                  <div class="card-body  h-100">
                    <h4 class="card-title">
                      همکاری با متخصصین حوزه علوم اعصاب</h4>
                    <p class="card-text">
                      افتخار ما اینست که در کنار خود تیمی متشکل از بهترین متخصصین علوم روانپزشکی، علوم اعصاب و نورولوژی داریم. هنر ما بهره گیری از دانش و نظرات این تیم خبره می باشد. در حال حاضر مشغول به طی پروسه تحقیقاتی با سایر مراکز فعال مغز ایران در حوزه های دیگر اثرات این دستگاه می باشیم.
                    </p>                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-lg-6 mb-3">
            <div class="card mb-3 z-depth-3 h-100">
              <div class="row no-gutters">
                <div class="col-md-3">
                  <img src="./assets/images/whyUs/paper%20copy.png" class="card-img" alt="...">
                </div>
                <div class="col-md-9 col-lg-9 col-sm-12">
                  <div class="card-body  h-100">
                    <h4 class="card-title font-weight-bold">
                      بررسی های سختگیرانه علمی</h4>
                    <p class="card-text">
                      دستگاه بتاوان موفق به گذر از آزمایش های مورد تایید وزارت بهداشت، مانند IEC60601/2 و IEC60601/1 ، شده است. لازمه کسب این تاییدیه عبور از آزمایش های سختگیرانه سازمان پژوهش های علمی صنعتی ایران و آزمایشگاه سازگاری امواج از دانشگاه امیر کبیر بوده است.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class=" col-md-12  col-sm-12 col-lg-4 mb-3">
        <!-- Jumbotron -->
        <div class="jumbotron p-0 h-100">
          <!-- Card image -->
          <div class="view overlay rounded">
            <img src="./assets/images/methodyou/cheraus.jpeg" class="img-fluid" alt="">

            <div class="mask rgba-white-slight"></div>

          </div>

        </div>
      </div>
    </div>
      <div class="row rtl">
        <div class="col-md-12 col-sm-12 col-lg-8">
        <div class="row">
        <div class="col-md-12  col-sm-12 col-lg-6 mb-3">
          <div class="card mb-3 z-depth-3 h-100" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img src="./assets/images/whyUs/Untitled-2.png" class="card-img" alt="...">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h4 class="card-title font-weight-bold">
                    مکانیسم های ارزیابی اثرات</h4>
                  <p class="card-text">
                    اثرات این دستگاه روی تغییر و اصلاح امواج مغز انسان توسط بهترین و مدرنترین تجهیزات الکتروانسفالوگرافی موجود در خاورمیانه و توسط متخصصین خبره این حوزه پایش شده است. علاوه بر این تست های بالینی روانشناسی هم موید افزایش کارایی و تمرکز آزمودنی ها با استفاده از این دستگاه می باشد. نتایج این آزمایش ها در کنفرانس های معتبر علمی ارائه گردیده است.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12  col-sm-12 col-lg-6 mb-3">
          <div class="card mb-3 z-depth-3 h-100" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img src="./assets/images/whyUs/support%20copy.png" class="card-img" alt="...">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h4 class="card-title font-weight-bold">
                    در کنار شما هستیم</h4>
                  <p class="card-text">
                    علاوه بر موقعیت شرکت (کشور نروژ)، دفتر ما در ایران تمام تعهد و توان خود را به کار می گیرد تا هموطنانمان در ایران نیز به سهولت قادر به تهیه و استفاده از بتاوان باشند.
                  </p>         </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
        <div class=" col-md-12  col-sm-12 col-lg-4 mb-3">
          <div class="jumbotron p-0">
            <!-- Card image -->
            <div class="view overlay rounded-top">
              <img src="./assets/images/methodyou/cheraus1.jpeg" class="img-fluid" alt="">

              <div class="mask rgba-white-slight"></div>

            </div>

          </div>
        </div>
      </div>
      </div>

    </div>
