.title-section-video{
  font-family: IRANSansWeb_Bold;
}
.card-footer{
  font-family: IRANSansWeb_Bold;
  color: rgba(66, 168, 176, 0.95);;
}
.fa-clock{
  color: #00c851;
}
.card-body-videos{
  font-family: IRANSansWeb;
}
.card-header{
  background-color: rgba(66, 168, 176, 0.95);
}
.img-news{
  height: 160px;
  width: 370px;
}
.plus::before{
  content: "\f4e1";
}
.card-body{
  text-align: justify;
  text-justify: inter-word;
}
