<div class="container ">
  <div class="col-12  product-section section">

    <div class="section-title-one" data-title="اخبار"> <h1 class="text-success"> مشاهده همه </h1></div>
  </div><!-- Section Title End -->
  <div class="row">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-3 view overlay zoom">
          <img src="./assets/images/news/1.jpg" class="card-img " alt="...">
        </div>
        <div class="col-md-9">
          <div class="">
            <div class="card-header pl-3 pt-3 text-white info-color-dark">  روحانی: دشمن برای سال ۹۸ اغتشاشات را در تاریخ دیگری طراحی کرده‌ بود ولی زودت</div>

            <div class="card-body card-body-videos">
              خبرگزاری رسمی سوریه «سانا» از حمله موشکی جدید رژیم صهیونیستی به اطراف دمشق خبر داد و اعلام کرد که بیشتر موشک‌های شلیک شده توسط پدافند هوایی ارتش سوریه رهگیری و منهدم شده است.
              خبرگزاری رسمی سوریه «سانا» از حمله موشکی جدید رژیم صهیونیستی به اطراف دمشق خبر داد و اعلام کرد که بیشتر موشک‌های شلیک شده توسط پدافند هوایی ارتش سوریه رهگیری و منهدم شده است.
              خبرگزاری رسمی سوریه «سانا» از حمله موشکی جدید رژیم صهیونیستی به اطراف دمشق خبر داد و اعلام کرد که بیشتر
            </div>

            <div class="card-footer d-flex ">

              <div class="mr-auto">
                <i class="fa fa-clock fa-2x pr-2"></i>
                29/08/1398-12:30
              </div>
              <div class="">
                ادامه مطلب
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-3 view overlay zoom">
          <img src="./assets/images/news/2.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-9">
          <div class="">
            <div class="card-header pl-3 pt-3 text-white info-color-dark">  روحانی: دشمن برای سال ۹۸ اغتشاشات را در تاریخ دیگری طراحی کرده‌ بود ولی زودت</div>

            <div class="card-body card-body-videos">
              خبرگزاری رسمی سوریه «سانا» از حمله موشکی جدید رژیم صهیونیستی به اطراف دمشق خبر داد و اعلام کرد که بیشتر موشک‌های شلیک شده توسط پدافند هوایی ارتش سوریه رهگیری و منهدم شده است.
              خبرگزاری رسمی سوریه «سانا» از حمله موشکی جدید رژیم صهیونیستی به اطراف دمشق خبر داد و اعلام کرد که بیشتر موشک‌های شلیک شده توسط پدافند هوایی ارتش سوریه رهگیری و منهدم شده است.
              خبرگزاری رسمی سوریه «سانا» از حمله موشکی جدید رژیم صهیونیستی به اطراف دمشق خبر داد و اعلام کرد که بیشتر
            </div>

            <div class="card-footer d-flex ">

              <div class="mr-auto">
                <i class="fa fa-clock fa-2x pr-2"></i>
                29/08/1398-12:30
              </div>
              <div class="">
                ادامه مطلب
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-3 view overlay zoom">
          <img src="./assets/images/news/3.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-9">
          <div class="">
            <div class="card-header pl-3 pt-3 text-white info-color-dark">  روحانی: دشمن برای سال ۹۸ اغتشاشات را در تاریخ دیگری طراحی کرده‌ بود ولی زودت</div>

            <div class="card-body card-body-videos">
              خبرگزاری رسمی سوریه «سانا» از حمله موشکی جدید رژیم صهیونیستی به اطراف دمشق خبر داد و اعلام کرد که بیشتر موشک‌های شلیک شده توسط پدافند هوایی ارتش سوریه رهگیری و منهدم شده است.
              خبرگزاری رسمی سوریه «سانا» از حمله موشکی جدید رژیم صهیونیستی به اطراف دمشق خبر داد و اعلام کرد که بیشتر موشک‌های شلیک شده توسط پدافند هوایی ارتش سوریه رهگیری و منهدم شده است.
              خبرگزاری رسمی سوریه «سانا» از حمله موشکی جدید رژیم صهیونیستی به اطراف دمشق خبر داد و اعلام کرد که بیشتر
            </div>

            <div class="card-footer d-flex ">

              <div class="mr-auto">
                <i class="fa fa-clock fa-2x pr-2"></i>
                29/08/1398-12:30
              </div>
              <div class="">
                ادامه مطلب
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

