.bg-info{
  background: var(--primary) !important;
  color: white!important;
  //height: 56px!important;
}





.navbar {
  padding: .1rem 0.1rem!important;
  margin-bottom: -4px;
}
.navbar.navbar-dark .navbar-nav .nav-item:hover .nav-link {
  background: white!important;
  color: #162aff !important;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: #23ff5a;
  margin-bottom: -1px;
  margin-top: -1px;

}
.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: white!important;
}
.nav-item.dropdown:hover .dropdown-menu{
  z-index: 201!important;
  position: absolute!important;
  margin-top: -3px!important;
  width: 300px!important;
  height: 200px!important;
 display: block!important;
}
.dropdown .dropdown-menu .dropdown-item{
  font-size: 13px!important;
}

::ng-deep.mat-menu-panel:after{
  content: '';
  z-index: -1;
  position: absolute;
  top: -10px;
  left: 95%;
  margin-top: -2px;
  margin-right: 0;
  display: block;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #ffffff;
  transition: margin-top 0.1s ease-out;
}
.active{

}
//ggg
.sidenav-container {
  border-radius: 20px;
  border-width:thin ;
  border-style: solid;
}
.mat-drawer-content {
  display: contents!important;
}
.sidenav {
  width: 200px;

}
@media (min-width: 768px) {
  .sidenav {
    display: none;
  }
  .header{
    display: none;
  }
  .mobile{
    display: block;
  }
  .mizkhedmat-title{
    display: none;
  }
}
@media (max-width: 767px) {

  .menu{
    visibility: hidden;
  }
}
.sidenav .mat-toolbar {
  background: inherit;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10000;
}
a{
  font-family: Iransans-Light;
}
mat-sidenav{
  background: var(--primary);
}
.mat-button{
  font-family: IRANSansWeb_Bold;
  font-size: 13px;
}
::ng-deep.mat-list-item-content{
  font-family: IRANSansWeb_Bold;
  font-size: 13px;
}
mat-toolbar a{
  display: inline-block;
  margin:  0 10px;
  color: white;
  text-decoration: none;
  font-family: IRANSansWeb_Bold;
  font-size: 16px;
}
mat-nav-list a{
  font-family: IRANSansWeb_Bold;
  font-size: 14px;
  color: white;

}

.dropdown-item{
  font-family: IRANSansWeb_Bold;

  font-size: 14px!important;
}

mat-toolbar{
  font-family: IRANSansWeb_Bold;
  color: white;
}

.sub-menu{
  margin-right: 4%!important;
}
.hr{
  margin-bottom: -25%;
}

@media (min-width:450px ) and (max-width: 767px) {
  .mizkhedmat-title{
    margin-right: 20%!important;
  }
}

.navbar {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.16), 0 0 0 0 rgba(0, 0, 0, .12)!important;
}
::ng-deep.ng-trigger.ng-trigger-transformMenu.ng-tns-c9-1.mat-menu-below.ng-star-inserted.mat-elevation-z4:hover{

  ::ng-deep.mat-menu-content{
    display: block!important;

  }
}
