.form-control{
    font-family:VaziBold ;
    font-size: 17px;
}
.table{
  font-family:VaziBold ;
    font-size: 17px;
}
tr th{
  font-family:VaziBold ;
  font-size: 14px;
}
.mat-radio-button {
  margin-left: 16px;
  font-family:VaziBold ;

}
.card-title{
  border-radius: 20px;
  font-family:VaziBold ;
  font-size: 17px;
}
.card-header{
  border-radius: 20px;
}
.card{
  border-radius: 20px;
}
.btn-success{
  line-height: 1.5;
}
