<div class="card">
  <div class="container-fliud">
    <div class="wrapper row">
      <div class="preview col-md-6">

        <div class="preview-pic tab-content">
          <div class="tab-pane active" id="pic-1"><img src="./assets/images/product/2.jpg" /></div>
          <div class="tab-pane" id="pic-2"><img src="./assets/images/product/3.jpg" /></div>
          <div class="tab-pane" id="pic-3"><img src="./assets/images/product/4.jpg" /></div>
          <div class="tab-pane" id="pic-4"><img src="./assets/images/product/11.jpg" /></div>
          <div class="tab-pane" id="pic-5"><img src="./assets/images/product/2.jpg" /></div>
        </div>
        <ul class="preview-thumbnail nav nav-tabs">
          <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="./assets/images/product/2.jpg" /></a></li>
          <li><a data-target="#pic-2" data-toggle="tab"><img src="./assets/images/product/3.jpg" /></a></li>
          <li><a data-target="#pic-3" data-toggle="tab"><img src="./assets/images/product/4.jpg" /></a></li>
          <li><a data-target="#pic-4" data-toggle="tab"><img src="./assets/images/product/11.jpg" /></a></li>
          <li><a data-target="#pic-5" data-toggle="tab"><img src="./assets/images/product/2.jpg" /></a></li>
        </ul>

      </div>
      <div class="details col-md-5">
        <h3 class="product-title">بتاوان- بی</h3>
        <div class="rating">
          <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <span class="review-no">41 مشاهده</span>
        </div>
        <p class="product-description text-dark">متناسب با نقشه مغزی افراد خانواده حداکثر چهارنفر</p>
        <h4 class="price">قیمت: <span>2600 تومان</span></h4>
        <p class="vote text-dark"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
        <h5 class="sizes">اندازه:
          <span class="size" data-toggle="tooltip" title="کوچک">s</span>
          <span class="size" data-toggle="tooltip" title="متوسط">m</span>
          <span class="size" data-toggle="tooltip" title="بزرگ">l</span>
          <span class="size" data-toggle="tooltip" title="خیلی بزرگ">xl</span>
        </h5>
        <h5 class="colors">رنگ:
          <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
          <span class="color green"></span>
          <span class="color blue"></span>
        </h5>
        <div class="action">
          <button class="add-to-cart btn btn-outline-info btn-rounded" type="button"> افزودن به سبد خرید  </button>
        </div>
      </div>
      <div class="details col-md-1">
        <div class="d-flex flex-column">
          <div><i class="fab fa-facebook-square fa-3x mb-2" style="color: #0d47a1;"></i></div>
          <div><i class="fab fa-telegram fa-3x mb-2" style="color: #33b5e5;"></i></div>
          <div><i class="fab fa-instagram fa-3x mb-2" style="color: #c51162;"></i></div>
          <div><i class="fab fa-linkedin fa-3x mb-2" style="color: #4285F4;"></i></div>
          <div><i class="fab fa-twitter fa-3x mb-2" style="color: #4285F4;"></i></div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Classic tabs -->
<div class="classic-tabs mx-2">

  <ul class="nav tabs success-color" id="myClassicTabOrange" role="tablist">
    <li class="nav-item">
      <a class="nav-link  waves-light active show" id="profile-tab-classic-orange" data-toggle="tab" href="#profile-classic-orange"
        role="tab" aria-controls="profile-classic-orange" aria-selected="true"><i class="fa fa-list-alt fa-3x pb-2"
          aria-hidden="true"></i><br>مشخصات</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" id="follow-tab-classic-orange" data-toggle="tab" href="#follow-classic-orange"
        role="tab" aria-controls="follow-classic-orange" aria-selected="false"><i class="fa fa-comments fa-3x pb-2"
          aria-hidden="true"></i><br>نظرات کاربران</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" id="contact-tab-classic-orange" data-toggle="tab" href="#contact-classic-orange"
        role="tab" aria-controls="contact-classic-orange" aria-selected="false"><i class="fa fa-envelope fa-3x pb-2"
          aria-hidden="true"></i><br>مقایسه</a>
    </li>

  </ul>

  <div class="tab-content" id="myClassicTabContentOrange">
    <div class="tab-pane fade active show" id="profile-classic-orange" role="tabpanel" aria-labelledby="profile-tab-classic-orange">
      <h3>مشخصات محصول</h3>
    </div>
    <div class="tab-pane fade" id="follow-classic-orange" role="tabpanel" aria-labelledby="follow-tab-classic-orange">
  <h3>مشخصات محصول</h3>

    </div>
    <div class="tab-pane fade" id="contact-classic-orange" role="tabpanel" aria-labelledby="contact-tab-classic-orange">
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
        provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
        Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
        eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
        assumenda est, omnis dolor repellendus. </p>
    </div>
    <div class="tab-pane fade" id="awesome-classic-orange" role="tabpanel" aria-labelledby="awesome-tab-classic-orange">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.</p>
    </div>
  </div>

</div>
<!-- Classic tabs -->
