<mat-sidenav-container class="sidenav-container" dir="rtl">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <img class="profile img-rounded" dir="ltr" src="./assets/images/jalil.jpg" style="height: 150px; width: 150px;" />
    <mat-toolbar class="title-sidebar">پنل مدیریت</mat-toolbar>
    <hr />
    <mat-nav-list>
      <a mat-list-item class="" [routerLink]="['/admin/panel']">
        صفحه اصلی <i class="material-icons ml-auto ">home</i></a
      >

      <li class="nav-item mr-4" style="list-style:none">
        <a mat-list-item data-toggle="collapse" data-target="#demo"
          >مدیریت اخبار <i class="fa fa-chevron-down ml-auto"></i
        ></a>
        <div id="demo" class="collapse">
          <a mat-list-item class="sub-menu " [routerLink]="['/admin/panel/news']"
            ><i class="material-icons mr-3"> playlist_add </i>خبر جدید
          </a>
          <a mat-list-item class="sub-menu "  [routerLink]="['/admin/panel/news/listnews']"
            ><i class="material-icons mr-3">
              list
            </i>
            لیست خبرها
          </a>
        </div>
      </li>
      <li class="nav-item mr-4" style="list-style:none">
        <a mat-list-item data-toggle="collapse" data-target="#article"
          >مدیریت مقالات <i class="fa fa-chevron-down ml-auto"></i
        ></a>
        <div id="article" class="collapse">
          <a mat-list-item class="sub-menu " [routerLink]="['/admin/panel/article']"
            ><i class="material-icons  mr-3"> playlist_add </i>مقاله جدید
          </a>
          <a mat-list-item class="sub-menu " [routerLink]="['/admin/panel/article/listarticle']"
            ><i class="material-icons  mr-3">
              list
            </i>
            لیست مقالات
          </a>
        </div>
      </li>
      <li class="nav-item mr-4" style="list-style:none">
        <a mat-list-item data-toggle="collapse" data-target="#product"
          >مدیریت محصولات <i class="fa fa-chevron-down ml-auto"></i
        ></a>
        <div id="product" class="collapse">
          <a mat-list-item class="sub-menu " [routerLink]="['/admin/panel/product']"
            ><i class="material-icons mr-3"> add </i>  محصولات جدید
          </a>
          <a mat-list-item class="sub-menu " [routerLink]="['/admin/panel/product/listproduct']"
            ><i class="material-icons  mr-3">
              list
            </i>
            لیست محصولات
          </a>

          <a mat-list-item class="sub-menu "
            ><i class="material-icons  mr-3">
              border_color
            </i>
            موجودی محصولات
          </a>
        </div>
      </li>
      <li class="nav-item mr-4" style="list-style:none">
        <a mat-list-item data-toggle="collapse" data-target="#video">
          مدیریت ویدئو <i class="fa fa-chevron-down ml-auto"></i
        ></a>
        <div id="video" class="collapse">
          <a mat-list-item class="sub-menu "  [routerLink]="['/admin/panel/video']"
            ><i class="material-icons  mr-3"> playlist_add </i>ویدئو جدید
          </a>
          <a mat-list-item class="sub-menu "  [routerLink]="['/admin/panel/video/listvideo']"
            ><i class="material-icons  mr-3">
              list
            </i>
            لیست ویدئوها
          </a>
        </div>
      </li>
      <li class="nav-item mr-4" style="list-style:none">
        <a mat-list-item data-toggle="collapse" data-target="#member"
          >مدیریت اعضا <i class="fa fa-chevron-down ml-auto"></i
        ></a>
        <div id="member" class="collapse">
          <a mat-list-item class="sub-menu " [routerLink]="['/admin/panel/member']"
            ><i class="material-icons  mr-3"> person_add </i>عضو جدید
          </a>
          <a mat-list-item class="sub-menu " [routerLink]="['/admin/panel/member/listmember']"
            ><i class="material-icons  mr-3">
              list
            </i>
            لیست اعضا
          </a>
        </div>
      </li>
      <li class="nav-item mr-4" style="list-style:none">
        <a mat-list-item data-toggle="collapse" data-target="#takhfif">
          تخفیف <i class="fa fa-chevron-down ml-auto"></i
        ></a>
        <div id="takhfif" class="collapse">
          <a mat-list-item class="sub-menu " [routerLink]="['/admin/panel/offer']"
            ><i class="material-icons  mr-3"> add </i>تخفیف جدید
          </a>
          <a mat-list-item class="sub-menu " [routerLink]="['/admin/panel/offer/offerlist']"
            ><i class="material-icons  mr-3">
              list
            </i>
            فهرست تخفیف ها
          </a>
        </div>
      </li>
      <li class="nav-item mr-4" style="list-style:none">
        <a mat-list-item data-toggle="collapse" data-target="#comment">
          مدیریت اظهار نظرها <i class="fa fa-chevron-down ml-auto"></i
        ></a>
        <div id="comment" class="collapse">
          <a mat-list-item class="sub-menu " [routerLink]="['/admin/panel/comment']"
            ><i class="material-icons  mr-3"> add </i>اظهارنظر جدید
          </a>
          <a mat-list-item class="sub-menu " [routerLink]="['/admin/panel/takhfif/listcomments']"
            ><i class="material-icons  mr-3">
              list
            </i>
            فهرست اظهار نظر ها
          </a>
        </div>
      </li>
      <li class="nav-item mr-4" style="list-style:none">
        <a mat-list-item data-toggle="collapse" data-target="#managesection">
          مدیرست محتوای سایت <i class="fa fa-chevron-down ml-auto"></i
        ></a>
        <div id="managesection" class="collapse">
          <a mat-list-item class="sub-menu "
            ><i class="material-icons  mr-3"> add_to_photos </i> مدیریت اسلایدر
          </a>
          <a mat-list-item class="sub-menu "
            ><i class="material-icons mr-3">
              list
            </i>
             مدیریت بخش پروژه های ما
          </a>
          <a mat-list-item class="sub-menu "
            ><i class="material-icons  mr-3">
              group
            </i>
             مدیریت بخش  همکاران ما
          </a>
        </div>
      </li>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="row d-flex" style="margin-right: 40px;">
        <div class="ml-auto">
          <ul class="list-group">
            <li class="title-profile">
              <i class="fa fa-user-circle fa-1x mr-3"></i>جلیل قلی زاده سلطانی
            </li>
          </ul>
        </div>

      </div>

    </mat-toolbar>

    <ng-content></ng-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
