*{
  font-family: IRANSansWeb_Bold;
}

.card-footer{
  background-color: #007bff;
}
.card-profile{
  box-shadow: 0 5px 15px rgba(124, 139, 243, 0.75) !important;
}
.testimonial-card .avatar {
  width: 200px!important;
}
.ml-auto{
  margin-top: 70px!important;
}
