<div class="container">
  <h3 class="text-center text-success mt-10">همکاران ما</h3>
  <div class="row">
  <div class="col-md-12 col-sm-12 col-lg-3">
   <div class="card testimonial-card mb-2">

     <!-- Background color -->
     <div class="card-up" style="background-color: var(--primary)"></div>

     <!-- Avatar -->
     <div class="avatar mx-auto white view overlay zoom">
       <img src="./assets/images/jalil.jpg" class="rounded-circle img-fluid" alt="woman avatar">
     </div>
     <div class="mask flex-center rgba-blue-light">

     </div>
     <!-- Content -->
     <div class="card-body">
       <!-- Name -->
       <h4 class="card-title">آقای مهندس جلیل قلی زاده</h4>

     </div>

   </div>
 </div>
   <div class="col-md-12 col-sm-12 col-lg-3">
    <div class="card testimonial-card">

      <!-- Background color -->
      <div class="card-up" style="background-color: var(--primary)"></div>

      <!-- Avatar -->
      <div class="avatar mx-auto white view overlay zoom">
        <img src="./assets/images/khalil.jpg" class="rounded-circle" alt="woman avatar">
      </div>

      <!-- Content -->
      <div class="card-body">
        <!-- Name -->
        <h4 class="card-title">خانم دکتر حمیده خلیل پور</h4>

      </div>

    </div>
  </div>
    <div class="col-md-12 col-sm-12 col-lg-3">
      <div class="card testimonial-card mb-2">

        <!-- Background color -->
        <div class="card-up" style="background-color: var(--primary)"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white view overlay zoom">
          <img src="./assets/images/jalil.jpg" class="rounded-circle" alt="woman avatar">
        </div>

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">آقای مهندس جلیل قلی زاده</h4>

        </div>

      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-3">
      <div class="card testimonial-card">

        <!-- Background color -->
        <div class="card-up" style="background-color: var(--primary)"></div>

        <!-- Avatar -->
        <div class="avatar mx-auto white view overlay zoom">
          <img src="./assets/images/khalil.jpg" class="rounded-circle" alt="woman avatar">
        </div>

        <!-- Content -->
        <div class="card-body">
          <!-- Name -->
          <h4 class="card-title">خانم دکتر حمیده خلیل پور</h4>

        </div>

      </div>
    </div>
  </div>
</div>

